extends layout

block content
    head(container)
        h1 Notes Board

        nav
            ul
                //- this will show the modal with a form to send new notes
                //- this is set up for jquery modal, so it isn't working
                li: a(href='#note-form' rel='modal:open') Publish

    main(container).notes-list
        //- loop over all the notes received from our controller rendering our notes
        each note in data.notes
            include components/note

    //- form to add new note; used by our controller `create` function
    form(action='/note' method='POST').note-form#note-form
        p: input(name='noteTitle' type='text' placeholder='Title')
        p: input(name='noteDescription' type='text' placeholder='Short Description')
        p: textarea(name='noteContent') Write the content here
        p._text-right: input(type='submit' value='Submit')