//- using pug templating
//- adding the hyphen after the comment will not render it in the markup
//- if the hyphen is ommitted, an HTML comment will be generated

article.note
    h2: a(href=`/note/${note.slug}`).note-title= note.title
    small.note-date Published on #{note.date}
    p.note-content= note.content